.ball {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.ml-4 {
  margin-left: 20px;
}
