<div class="card">
  <div class="card-body py-5 d-flex flex-column align-items-center">
    <ng-container *ngIf="!bettedBall">
      <div class="mb-5">
        <h4 class="mb-4">Numbers</h4>
        <div class="d-flex">
          <div
            class="ball"
            *ngFor="let ball of balls"
            [style.background]="
              selectedBalls.includes(ball) ? colors[ball] : colors[ball] + '11'
            "
            (click)="clickBall(ball)"
          >
            {{ ball }}
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-link" (click)="clearSelection()">
        Clear selection
      </button>
    </ng-container>
    <ng-container *ngIf="bettedBall">
      <h4 class="mb-4">Result</h4>
      <div class="ball mb-4" [style.background]="colors[bettedBall]">
        {{ bettedBall }}
      </div>
      <div
        class="h2"
        [ngClass]="{ 'text-success': isWon, 'text-danger': !isWon }"
      >
        {{ isWon ? "YOU WON" : "YOU LOST" }}
      </div>
    </ng-container>
  </div>
</div>
